# 1.Manipulate using a list.
i)To add new elements to the end of the list ii)To reverse elements in the list iii)To display the same list of elements multiple times. iv)To concatenate two list .v)To sort the elements in the list in ascending order

In [199]:
# i) To add new elements to the end of the list
num=[23,3,4,]
num

[23, 3, 4]

In [200]:
num.append(45)
num

[23, 3, 4, 45]

In [6]:
# ii)To reverse elements in the list 
lst=[1,2,3]
lst

[1, 2, 3]

In [210]:
lst.reverse()
lst

[6, 5, 4, 3, 2, 1]

In [11]:
# iii)To display the same list of elemets multiple times.
lst=[1,2,3]
lst*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [201]:
# iv) To concatenate two list 
list1=[1,2,3]
list2=[3,5,6]
list = list1 + list2
list

[1, 2, 3, 3, 5, 6]

In [118]:
#v)To sort the elements in the list in ascending order
list=[2,67,8,46]
list.sort()
list

[2, 8, 46, 67]

# 2.Write a python program to do in the tuples

In [61]:
#i)Manipulate using Tuples
countries=("india","USA","london")
temp = (countries)
countries = tuple(temp)
print(countries)

('india', 'USA', 'london')

In [70]:
#ii)To add new elements to the end of the tuples
tuples = (1,3,5)
tuples1 = tuples +(9,)
print(tuples1)

(1, 3, 5, 9)

In [215]:
# iii)To reverse elements in the list
tuple =(1,2,3,4,5,6,)
lst.reverse()
lst

[6, 5, 4, 3, 2, 1]

In [211]:
# iv)To display the elements of the same tuple multiple times
num = (2,3,4,'a','b')
num*2

(2, 3, 4, 'a', 'b', 2, 3, 4, 'a', 'b')

In [212]:
# v)To concatenate two tuples
tuple1=(11,12,13)
tuple2=(14,15,16)
res=tuple1+tuple1
res

(11, 12, 13, 11, 12, 13)

In [80]:
# vi)To sort elements in the list in ascending order
list=[2,67,8,46]
list.sort()
list

[2, 8, 46, 67]

# 3.Write a python program to implement the following using list

In [202]:
# i) Create a list with integers (minimum 10 numbers)
nums= [1,2,3,4,5,6,7,8,9,10]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [198]:
# ii)How to display the last number of the list
list_integers[9]

10

In [112]:
# iii)Command for displaying the values from the list [0:4]
list_integers[0:4]

[1, 2, 3, 4]

In [114]:
# iv)Command for displaying the values from list[2:]
list_integers[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
# v)Command for displaying the values from list [:6]
list_integers[:6]

[1, 2, 3, 4, 5, 6]

# 4.Write a python program tuple(10,20,30,40,50)

In [124]:
# i)To display the elements from tuple
tuple1=10,20,30,40,50
print(tuple1)

(10, 20, 30, 40, 50)

In [197]:
# ii)To display the length of the tuple
len(tuple1)

5

In [130]:
# iii)To find the minimum length of the tuple
print(min(tuple1))

10

In [137]:
# iv)How to add all the elements in tuple 1
tuple1=(10,20,30,40,50)
result=sum(tuple1)
print(result)

150

In [139]:
# v)To display same tuple multiply times
tuple1=(10,20,30,40,50)
tuple1*2

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

# 5.Write a python program

In [ ]:
# i) To calculate the length of the string
str='code'
len(str)

In [209]:
# ii)To reverse the words in the string
name = "code"
name[::-1]

'edoc'

In [152]:
# iii)To display the string multiple times
str="code"
str*2

'codecode'

In [154]:
# iv)To concatenate two strings
str1="hello"
str2="worlds"
str = str1+str2
print(str)

helloworlds

In [160]:
# v) Str1="south india",using string slicing to display india
str1="south india"
str1[6:]

'india'

# 6.Perform the following

In [163]:
#i)create the directory
Dict={"hello","world","welcome"}
print(Dict)

{'hello', 'welcome', 'world'}

In [170]:
#ii)access the values in directory
Dict={1: 'hello', 2: 'world', 3: 'welcome'}
print(Dict)

{1: 'hello', 2: 'world', 3: 'welcome'}

In [226]:
# iii)delete directory values
Data={'h','l','p'}
Data

{'h', 'l', 'p'}

# 7. Python program to insert a number to any position in a list

In [217]:
my_list = [1, 2, 3, 4, 5]

# Number to insert
number_to_insert = 10

# Position where you want to insert the number (0-based index)
position_to_insert = 2

# Check if the position is valid
if position_to_insert >= 0 and position_to_insert <= len(my_list):
    # Insert the number at the specified position
    my_list.insert(position_to_insert, number_to_insert)
    print(f"Number {number_to_insert} inserted at position {position_to_insert}.")
else:
    print("Invalid position.")

# Print the updated list
print("Updated List:", my_list)

Number 10 inserted at position 2.
Updated List: [1, 2, 10, 3, 4, 5]

# 8. python program to delete an element from a list by index

In [219]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# Index of the element to delete
index_to_delete = 2  # This will delete the element at index 2 (which is 3)

# Check if the index is valid
if 0 <= index_to_delete < len(my_list):
    del my_list[index_to_delete]
    print("Element deleted successfully.")
else:
    print("Invalid index.")

# Print the updated list
print(my_list)

Element deleted successfully.
[1, 2, 4, 5]

# 9. Write a program to display a number from 1 to 100

In [9]:
i=1
while i<=100:
      print(i)
      i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a python  program to find the sum of all items in a tuple

In [10]:
# Function to find the sum of all items in a tuple
def sum_of_tuple_items(tup):
    total = 0
    for item in tup:
        total += item
    return total

# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Calculate the sum of items in the tuple
result = sum_of_tuple_items(my_tuple)

# Print the result
print("Sum of items in the tuple:", result)

Sum of items in the tuple: 15